.mainBarContainer {
  display: flex;
  flex-flow: row wrap;
}

.breaker {
  display: none;
  display: block;
  width: 100%;
  height: 0;
}

.dashTasks {
  margin-top: 10px !important;
}

.mainBarContainer::before,
.container::after {
  content: "";
  order: 1;
}

.taskImage {
  margin-right: 20px;
}

.team {
  text-align: left;
  padding-top: 10px;
  .teamMembers {
    display: flex;
    flex-direction: row;
  }
  .mainHeadline {
    margin-bottom: 20px;
  }
}
