.mainEmployee {
  padding: 15px 35px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  height: 100%;

  .employeeData {
    .progressBarContainer {
      margin-bottom: 20px;
    }
    .contactLink {
      margin-bottom: 0px;
    }
    .employeeMeta {
      margin: 20px 0px;
      @media only screen and (max-width: 992px) {
        h2 {
          text-align: center;
        }
      }
      .imageCol {
        padding-left: 0px;
        padding-right: 0px;

        img {
          width: 150px;
          height: 150px;
          border-radius: 90px;
          object-fit: cover;
          margin-right: 20px;
          border: 1px solid black;
          padding-left: 0px;
        }
      }
    }
    .helpRow {
      .btn {
        position: relative;
        padding-left: 45px;
        font-size: 17px;
        border-radius: 20px;
        .helpIcon {
          position: absolute;
          left: 5px;
          bottom: 2px;
          height: 50px;
        }
      }
    }
    .currentWork {
      display: flex;
      flex-direction: column;
      width: 100%;

      p {
        margin-top: 0px;
      }
      h3 {
        margin-top: 0px;
      }
    }
  }
}

.mainEmployeeTeam {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 20px 0;
  .imageContainer {
    img {
      width: 150px;
      height: 150px;
      border-radius: 90px;
      object-fit: cover;
      border: 1px solid black;
      padding-left: 0px;
    }
  }
  .helpIconContainer {
    position: relative;
    .helpIcon {
      cursor: pointer;
      position: absolute;
      width: 100%;
      bottom: 0px;
      top: 5px;
      transition: 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .progressBarContainer {
    margin-top: 15px;
    .progressBar {
      margin-bottom: 15px;
    }
  }

  @media only screen and (max-width: 992px) {
    .row {
      padding-right: 0px;
      .titleContainer {
        text-align: left;
      }
    }
  }
}
