.mainEmployee {
  padding: 15px 35px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  .employeeData {
    .contactLink {
      margin-bottom: 0px;
    }
    .employeeMeta {
      margin: 20px 0px;
      @media only screen and (max-width: 992px) {
        h2 {
          text-align: center;
        }
      }
      .imageCol {
        padding-left: 0px;
        padding-right: 0px;

        img {
          width: 150px;
          height: 150px;
          border-radius: 90px;
          object-fit: cover;
          margin-right: 20px;
          border: 1px solid black;
          padding-left: 0px;
        }
      }
    }

    .currentWork {
      display: flex;
      flex-direction: column;
      width: 100%;

      p {
        margin-top: 0px;
      }
      h3 {
        margin-top: 0px;
      }
    }
  }
}
